@page
@model MascotaFeliz.App.Frontend.Pages.ListaVeterinariosModel
@{
}
<h1>Listado veterinarios </h1>

<form method="get">
    <div class="form-group">
        <p>
            Nombre: <input type="text" name="Filtrobusqueda" asp-for="FiltroBusqueda"/>
            <input type="submit" value="Filtrar" />
        </p>
</form>

<table class="tabla" style="padding: 2px 3px ;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 7px;">
     <tr >
            
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Tarjeta Profesional</th>

           
        </tr>
    @foreach (var veterinario in Model.listaVeterinarios)
    {
       
          <tr>
            <td>@veterinario.Nombres</td>
            <td>@veterinario.Apellidos</td>
            <td>@veterinario.Direccion</td>
            <td>@veterinario.Telefono</td>
            <td>@veterinario.TarjetaProfesional</td>
             <td> <a class="btn btn-primary table-btn" asp-page="./DetallesVeterinarios" asp-route-veterinarioId="@veterinario.Id">
                    Detalle Veterinario
                </a>
            </td>  
             <td> <a class="btn btn-primary table-btn" asp-page="./EditarVeterinario" asp-route-veterinarioId="@veterinario.Id">
                    Editar Veterinario
                </a>
            </td>  
        </tr> 
   
    }
   

</table>
<a class = "btn btn-primary table-btn" asp-page="./EditarVeterinario" class="btn-default">Adicionar Veterinario</a>