@page
@model MascotaFeliz.App.Frontend.Pages.ListaduenosModel
@{
}

<h1>Listado Dueños </h1>
<table class="tabla"style="padding: 2px 3px ;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 7px;">
     <tr>
            
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
           
        </tr>
    @foreach (var dueno in Model.listaDuenos)
    {
       
          <tr>
            <td>@dueno.Nombres</td>
            <td>@dueno.Apellidos</td>
            <td>@dueno.Direccion</td>
            <td>@dueno.Telefono</td>
            <td>@dueno.Correo</td>
            
        
      <td> <a class="btn btn-primary table-btn" asp-page="./DetallesDuenos" asp-route-duenoId="@dueno.Id">
                    Detalle Dueño
                </a>
            </td>  
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarDuenos" asp-route-duenoId="@dueno.Id">
                    Editar Dueno
                </a>
            </td>
        </tr> 
    }
   

</table>
<a class = "btn btn-primary table-btn" asp-page="./EditarDuenos" class="btn-default">Adicionar Dueño</a>

  