@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}

<h1>Listado Mascotas </h1>

<form method="get">
    <div class="form-group">
        <p>
            Nombre: <input type="text" name="Filtrobusqueda" asp-for="FiltroBusqueda"/>
            <input type="submit" value="Filtrar" />
        </p>
</form>

<table class="tabla"style="padding: 2px 3px ;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 7px;">
     <tr>
            
            <th>Nombre</th>
            <th>Color</th>
            <th>Especie</th>
            <th>Raza</th>
            

            
           
        </tr>
    @foreach (var mascota in Model.listaMascotas)
    {
       
          <tr>
            <td>@mascota.Nombre</td>
            <td>@mascota.Color</td>
            <td>@mascota.Especie</td>
            <td>@mascota.Raza</td>
            
            
            
        
          <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">
                    Detalles Mascota
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">
                    Editar Mascota
                </a>
            </td>
        </tr> 
     }
  
</table>
<a class = "btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default">Adicionar Mascota</a>